#tirumal



# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
*.manifest
*.spec

# logs
logs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Environments
.env
.venv/
env/
venv/
ENV/
.envrc

# IDEs
.idea/
.vscode/
*.swp

# Pyre type checker
.pyre/

# Mypy
.mypy_cache/
dmypy.json
dmypy.sock

# Pyright
.pyright/
test.py
chat_service.py


/uploads